{% extends 'shop/basic.html' %}
{% block title %} search {% endblock %}
{% block css %}
<style>
  .col-md-3 {
    display: inline-block;
    margin-left: -4px;
  }

  p {
    font-size: smaller;
  }

  .carousel-indicators .active {
    background-color: blue;
  }

  .col-md-3 img {

    width: 227px;
    max-height: 242px;
  }

  body .carousel-indicator li {
    background-color: blue;
  }

  body .carousel-indicators {
    bottom: 0;
  }

  body .carousel-control-prev-icon,
  body .carousel-control-next-icon {
    background-color: blue;
  }

  .carousel-control-prev,
  .carousel-control-next {
    top: auto;
    bottom: auto;
    padding-top: 200px;
  }

  body .no-padding {
    padding-left: 0;
    padding-right: 0;
  }

  .card-img-top {

    width: 225px;
    height: 200px;
  }
</style>
{% endblock %}

{% block body %}
{% load static %}
<div class="container">

  <!--Slideshow starts here -->
  {% for product, range, nSlides in allProds %}
  <h5 class="my-4">Flash Sale On {{product.0.category}} - Recommended Items</h5>
  <div class="row">
    <div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>

        {% for i in range %}
        <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}"></li>
        {% endfor %}
      </ul>


      <div class="container carousel-inner no-padding">

        <div class="carousel-item active">


          {% for i in product %}
          <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="card align-items-center" style="width: 18rem;">
              <img src='/media/{{i.image}}' class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title" id="namepr{{i.id}}">{{i.product_name}}</h6>
                <p class="card-text">{{i.product_desc|slice:"0:33"}}...</p>
                <h6 class="card-title">Price:<span id="pricepr{{i.id}}">{{i.price}}</span></h6>
                <span id="divpr{{i.id}}" class="divpr">
                  <button id="pr{{i.id}}" href="#" class="btn btn-primary cart">Add To Cart</button>
                </span>
                <a href="/shop/product/{{i.id}}"><button id="qv{{i.id}}" href="#"
                    class="btn btn-secondary">View</button></a>
              </div>
            </div>
          </div>
          {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
        </div>
        <div class="carousel-item">
          {% endif %}
          {% endfor %}
        </div>



      </div>
    </div>
    <!-- left and right controls for the slide -->
    <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}
{% block js %}
<script>
  var sum = 0;
  var totalPrice = 0;
  if ($.isEmptyObject(cart)) {
    mystr = `<li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Your Cart is Empty!!!</h6>
                        <small class="text-muted"></small>
                    </div>
                </li>`
    $('#items').append(mystr);
  }
  else {
    for (item in cart) {
      let name = cart[item][1];
      let qty = cart[item][0];
      let itemPrice = cart[item][2];
      sum = sum + qty;
      totalPrice = totalPrice + qty * itemPrice
      mystr = `<li class="my-2">
                    <div>
                        <h6 class="my-0">${name}</h6>
                    </div>
                </li>`
      $('#items').append(mystr);
    }
  }
  document.getElementById('cart').innerHTML = sum;
</script>
{% endblock %}